.dates-screen--form {
    display: flex;
}

.dates-screen--button-container {
    display: flex;
    align-items: flex-end;
}

.dates-screen--button {
    margin-left: 3vw;
    background-color: #1E1852;
}