.trip-planner-screen--header {
    padding-left: 10%;
    height: 10%;
    background-color: #F7F5FF;
}

.trip-planner-screen--header-subtitle {
    font-size: 20px !important;
    margin-top: 5%;
    font-weight: 600;
    font-style: italic;
}

.trip-planner-screen--header-title {
    font-size: 30px !important;
}

.trip-planner-screen--title {
    font-size: 18px;
    font-family: "Open Sans", serif;
    color: #2816C0;
    font-weight: 600
}

.trip-planner-screen--ellipse-container {
    position: relative;
    line-height: normal;
}

.trip-planner-screen--ellipse-content {
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: "Open Sans", serif;
    font-style: italic;
}

.trip-planner-screen--content {
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #FFFFFF;
    line-height: 64px;
    padding-bottom: 5vw;
}

.trip-planner-screen--content-title {
    font-size: 18px;
    font-family: "Open Sans", serif;
    color: #2816C0;
    font-weight: 600;
}

.trip-planner-screen--last-step {
    position: relative;
    z-index: 1;
}

.trip-planner-screen--last-step > a {
    z-index: 1;
    color: #9C9C9C;
    font-style: italic;
}

.trip-planner-screen--route-content {
    width: 100%;
    margin-top: -5vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.trip-planner-screen--city-container {
    margin-top: 5%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.trip-planner-screen--result {
    padding: 0 10vw 10vw 10vw;
    width: fit-content
}
